/* 文字限制 */
.overflow-txt{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 
.overflow-line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.clear-input{
  background:none;
  outline:none;
  border:0;
}

.clear-btn{
  border:none;
  border-radius:0;
  outline:none;
}
  
.clear-select, .clear-textarea{
  appearance:none;
  border:none;
  outline: none;
  background-color: transparent;
}

.clear-select::-ms-expand { 
  display:none;
}
  
.vel-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preview-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
  .preview-name{
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 12px;
  }
}
.preview-label::before{
  content: '预览';
  position: absolute;
  top: -33px;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
}